*{
    padding: 0;
    box-sizing: border-box;}
    .box1{width: 800px;
    height: 700px;
 position: fixed;
border: 3px solid black;}
.box2{width: 400px;
height: 100px;
border: 3px solid red;
position: relative;

top: 30px;
left:35px;
color: red;}
.box3{width: 300px;
height: 860px;
border: 3px solid blueviolet;
position: relative;
left: 75px;
color: blueviolet;}