*{margin: 0;
padding: 0;
box-sizing: border-box;}
.box1{width: 100%;
height: 600px;
color: blueviolet;
border: 4px solid blueviolet;
position: fixed;
text-align: center;
font-size: 4em;
padding-top: 20px;
top: 0px;
left: 0px;}
.box2{color: green;
border: 3px solid green;
text-align: center;
position: absolute;
width: 300px;
padding-top: 20px;
height: 400px;
font-size: 2em;
top: 100px;
right: 40px;}